*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url('./kdh.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

h1 {
    font-size: 24px;
    text-align: center;
        color: blue;
}

p {
    font-size: 24px;
    text-align: center;
}

.large {
    font-size: 48px;
    font-style: italic;
}


.orange {
    color: orange;
    font-weight: bolder;
}
