# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# IDE files
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.bak
*.swo
*.orig

# HTML specific
*.html.__jb_tmp__
*.html.__jb_old__